<div class="social-media-list snowveil-pebble-navigation-container-bottom">
  {%- for entry in site.minima.social_links -%}
  <a rel="me" href="{{ entry.url }}" target="_blank" title="{{ entry.title }}">
    <span
      class="snowveil-pebble-button snowveil-frosted-glass grey fa-brands fa-{{ entry.icon }} fa-lg"
    ></span>
  </a>
  {%- endfor -%} {% unless site.minima.hide_site_feed_link %}
  <a
    href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}"
    target="_blank"
    title="Subscribe to syndication feed"
    class="snowveil-pebble-button snowveil-frosted-glass"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-rss-icon lucide-rss"
    >
      <path d="M4 11a9 9 0 0 1 9 9" />
      <path d="M4 4a16 16 0 0 1 16 16" />
      <circle cx="5" cy="19" r="1" />
    </svg>
  </a>
  {%- endunless %}
</div>
